@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --highlight: #f5c0c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
}

/* NOTE -> change to actual dark mode colors later on */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --highlight: #f5c0c0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
